body {
	/* font-family: 'Playfair Display'; */
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-size: 60px;
	font-weight: 700;
}

.section {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.white {
	background: #fff;
	color: #000;
}

.black {
	background: #000;
	color: #fff;
}

.yellow {
	background: #ffca00;
	color: #000;
}

.red {
	background: #b72222;
	color: #fff;
}

.cyan {
	background: #58dec0;
	color: #fff;
}

.orange {
	background: #dc491c;
	color: #fff;
}